@media (max-width: 576px) {
    .container {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .brand {
        justify-content: space-between;
    }
    .navbar-desktop {
        display: none;
    }
    #btn-toggle {
        display: block;
    }
}

@media (min-width: 577px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .brand {
        justify-content: center;
    }
    .navbar-desktop {
        display: block;
    }
    .btn-search {
        margin-left: 1.625rem;
    }
    #btn-toggle {
        display: none;
    }
}
