:root {
    --dark-navy-blue: #022c43;
    --navy-blue: #053f5e;
    --light-navy-blue: #3a6b85;
    --orange: #ffd700;
    --light-grey: #eaeaea;

    --f24: 1.5rem;
    --f22: 1.375rem;
    --f18: 1.125rem;
    --f16: 1rem;
    --f13: 0.8125rem;
}
